nav {
  background: #f9f9f9;
  display: flex;
  height: 70px;
  box-shadow: 0px 0px 5px #ccc;
}
nav .menu-logo {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .menu-elements {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .menu-elements ul {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  margin: 0 auto;
}
nav .menu-elements ul li {
  list-style-type: none;
  padding: 0 15px;
}
nav .menu-cart {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
